<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!--
			Used to specify the default location to expand packages.
			See: nuget.exe help install
			See: nuget.exe help update

			In this example, %PACKAGEHOME% is an environment variable.
			This syntax works on Windows/Mac/Linux
		-->
		<add key="repositoryPath" value=".\3rdParty\Packages\" />
	</config>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />

		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

	<!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
	<packageSources>

	 	<!-- To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="jfrog" value="https://srinivaskujala.jfrog.io/artifactory/api/nuget/packages" />
	</packageSources>
	
	<!-- Map package ID prefixes and exact package IDs to specific sources target sources, so you always know where your packages come from -->
	<packageSourceMapping>
		<packageSource key="nuget.org">
		  <package pattern="Microsoft.*" />
		  <package pattern="Newtonsoft.*" />
		  <package pattern="System.*" />
		</packageSource>
		<packageSource key="jfrog">
		  <package pattern="Application*" />
		</packageSource>
	</packageSourceMapping>

</configuration>
